<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Submit1/src/com/sunny_xiaobai5/game/NewGame.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.sunny_xiaobai5.game.NewGame"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Submit1"/>
</launchConfiguration>
